.container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
        ". title ."
        ". info .";
}

.container h1 {
    grid-area: title;
    text-align: center;
}

.container span {
    grid-area: info;
    font-family: monospace;
    font-size: 20px;
}
