div.container {
    display: grid;
    grid-template-columns: 1fr auto;
    gird-template-rows: 1fr 1fr 1fr;

    grid-template-areas:
        "title title"
        ". date"
        "content content";
}

.title {
    grid-area: title;
    margin: 0;
    margin-top: 10px;
}

article {
    grid-area: content;
    overflow: hidden;
}

.date {
    grid-area: date;
    text-align: right;
}

pre {
    font-family: monospace;
    background-color: #333333;
    padding-top: 0.7em;
    padding-right: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 0.5em;
    color: white;
    white-space: pre;
    word-wrap: normal;
    overflow-x: auto;
}

article p {
    font-size: 16px;
}
